<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bocom.mapper.AgreementMapper">
  	<insert id="addAgr" parameterType="Agreement">
  		insert into aggrement(name) values (#{name});
  	</insert>
  	
  	<delete id="deleteAgrByID" parameterType="int" >
  		delete from aggrement where id=#{id}
  	</delete>
  	
  	<update id="updateAgr" parameterType="Agreement">
  		update aggrement name=#{name} where id=#{id}
  	</update>
  	
  	<select id="list" resultType="Agreement">
  		select *from aggrement 
  	</select>
  	
</mapper>
